<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Página minimalista de 'En construcción'</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="fonts/stylesheet.css">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
    <!-- IE fix for HTML5 tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- jQuery and Modernizr-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <!-- Countdown timer and other animations -->
    <script src="js/jquery.countdown.js"></script>
    <script src="js/script.js"></script>
</head>
<body {
    background: url(../images/body-pattern.jpg) top left repeat;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}>
    <header {
    width: 720px;
    margin: 80px auto 0 auto;
}
header h1 {
    font-size: 30px;
    font-weight: bold;
    color: #272727;
    text-shadow: 0 1px 0 #fff;
}
header p {
    margin: 20px 0 0 3px;
    font-size: 14px;
    color: #272727;
}>
    <h1>Estamos trabajando para tener listo el sitio web pronto.</h1>
    <p>Nuestro desarrollador inmaculado John W. Martinez, está haciendo su mayor esfuerzo para finalizar el sitio web antes que este conteo termine. Favor, tenedle paciencia. (Es mentira lo de inmaculado, lo tenemos amarrado a una mazmorra y lo azotamos para que trabaje 20 horas al día).</p>
</header>

    <div id="main">
        <div id="links">
            <!-- Los links principal, de soporte, descargas, etc. -->
        </div>
        <div id="counter">
            <!-- La cuenta regresiva (el contador) -->
        </div>
        <form action="" method="get">
            <!-- El formulario de suscripción -->
        </form>
        <div class="social-media-arrow">
            <!-- La flechita de social media al lado derecho del monitor -->
        </div>
        <footer>
            <!-- El pie de página que tendrá los íconos de las redes sociales -->
        </footer>
    </div>
</body>
</html>