<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>Web - {% block titulo %}{% endblock %}</title>
  <link rel='stylesheet' href='{{STATIC_URL}}css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/template.css" type="text/css" media="all">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}menu/rmm-css/responsivemobilemenu.css" type="text/css">

  {% block style_css %}{% endblock %}
  <script src='{{STATIC_URL}}js/bootstrap.min.js'></script>
  <script type="text/javascript" src='{{STATIC_URL}}js/jquery.min.js'></script>
  <script type="text/javascript" src='{{STATIC_URL}}menu/rmm-js/responsivemobilemenu.js'></script>
</head>
<body>
<div class="container">
<div class="rmm">
            <ul>
                <li><a href='#'>Home</a></li>
                <li><a href='#about-me'>Quines Somos</a></li>
                <li><a href='register_user'>Registrate</a></li>
                <li><a href='login'>Login</a></li> 
            </ul>
        </div>

  {% block encabezado %}{% endblock %}  
  {% block contenido %}{% endblock %}

  <p>edwin.calsin.academico@gmail.com</p>
  <p>elmagwi@gmail.com</p>
</div>

</body>
</html>
